<a href="/" title="" class="logo">{{ site.Title }}</a>&nbsp;&nbsp;
<div class="nav">
  <a rel="me" href="https://github.com/mgomes" title="GitHub">GitHub</a>
  <a rel="me" href="https://twitter.com/OiMauricioGomes" title="X">X</a>
  <a rel="me" href="https://www.linkedin.com/in/mgomes23" title="LinkedIn">LinkedIn</a>
  <a href="https://kagi.com/search?q=site%3Amauriciogomes.com" title="Search">Search</a>
  <a href="/feed.rss" title="Feed">Feed</a>
  <a href="/now" title="What I’m Doing Now">What I’m Doing Now</a>
</div>
