{{ define "main" }}
    <div class="container index">
    <img src="/_Images/success_not_guaranteed.png" alt="{{ site.Title }}" />
      <br/>

      {{ $paginator := .Paginate (where site.RegularPages "Section" "posts") }}
      {{ range $paginator.Pages }}
      <p>
        <span class="light margin left">{{ .Date.Format "2006-01-02" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </p>
      {{ end }}

      <br /><br />

      {{ if gt $paginator.TotalPages 1 }}
      <p>

        {{ if $paginator.HasPrev }}
        <span class="margin left">
          <a href="{{ $paginator.Prev.URL }}">← Newer posts</a>
        </span>
        {{ end }}

        <span class="light" style="margin-right:30px">page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</span>

        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Older posts →</a>
        {{ end }}

      </p>
      {{ end }}
    </div>
{{ end }}
