{{ define "main" }}
    <div class="container archive">
      <h1>Archive</h1>
      {{ range .Pages.GroupByDate "2006" }}
        <h2 class="margin left">{{ .Key }}</h2>
        {{ range .Pages.GroupByDate "January" }}
          <h3 class="margin left">{{ .Key }}</h3>
          <p>
          {{ range .Pages }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a><br />
          {{ end }}
          <br />
          </p>
        {{ end }}
        <div class="clear"></div>
      {{ end }}
    </div>
{{ end }}
